In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px
pd.set_option('display.max_rows', None)
from plotly.subplots import make_subplots
import seaborn as sns
import datetime

In [2]:
plt.style.use('seaborn-colorblind')

In [11]:
Snowfall = pd.read_csv('UNdataSnowfall.csv')
Snowfall.head()

,Country or Territory,Station Name,WMO Station Number,National Station Id Number,Period,Element-Statistic Qualifier Code,Statistic Description,Unit,Jan,Jan Footnotes,...,Oct,Oct Footnotes,Nov,Nov Footnotes,Dec,Dec Footnotes,Annual,Annual Footnotes,Annual NCDC Computed Value,Annual NCDC Computed Value Footnotes
0,UNITED STATES OF AMERICA,"BARROW/W. POST W. ROGERS, AK",70026.0,500546.0,1961-1990,NaN,Median Value,cm,4.3,NaN,...,14.0,NaN,6.6,NaN,5.1,NaN,-9999.9,2.0,-9999.9,2.0
1,UNITED STATES OF AMERICA,"KOTZEBUE/RALPH WIEN, AK",70133.0,505076.0,1961-1990,NaN,Median Value,cm,14.2,NaN,...,15.2,NaN,19.0,NaN,16.5,NaN,-9999.9,2.0,-9999.9,2.0
2,UNITED STATES OF AMERICA,BETTLES/FIELD AK,70174.0,500761.0,1961-1990,NaN,Median Value,cm,26.4,NaN,...,28.7,NaN,27.4,NaN,36.3,NaN,-9999.9,2.0,-9999.9,2.0
3,UNITED STATES OF AMERICA,"NOME, AK",70200.0,506496.0,1961-1990,NaN,Median Value,cm,17.3,NaN,...,10.4,NaN,27.4,NaN,22.9,NaN,-9999.9,2.0,-9999.9,2.0
4,UNITED STATES OF AMERICA,"BETHEL/BETHEL AIRPORT, AK",70219.0,500754.0,1961-1990,NaN,Median Value,cm,14.2,NaN,...,9.4,NaN,18.8,NaN,17.3,NaN,-9999.9,2.0,-9999.9,2.0

In [12]:
Temperature = pd.read_excel('Temp_1961_1990.xls')
Temperature.head()

        tas  \tYear   Month  Country   ISO3   ISO2
0  -5.21460    1961       1      USA    NaN    NaN
1  -3.21400    1961       2      USA    NaN    NaN
2  -0.15080    1961       3      USA    NaN    NaN
3   4.52072    1961       4      USA    NaN    NaN
4  11.86120    1961       5      USA    NaN    NaN

In [13]:
Rainfall = pd.read_excel('Rain_1961_1990.xls')
Rainfall.head()

        pr  \tYear   Month  Country   ISO3   ISO2
0  29.8744    1961       1      USA    NaN    NaN
1  52.7065    1961       2      USA    NaN    NaN
2  59.5436    1961       3      USA    NaN    NaN
3  48.6108    1961       4      USA    NaN    NaN
4  57.4379    1961       5      USA    NaN    NaN

In [14]:
Jan = Snowfall['Jan'].mean()
Feb = Snowfall['Feb'].mean()
Mar = Snowfall['Mar'].mean()
Apr = Snowfall['Apr'].mean()
May = Snowfall['May'].mean()
Jun = Snowfall['Jun'].mean()
Jul = Snowfall['Jul'].mean()
Aug = Snowfall['Aug'].mean()
Sep = Snowfall['Sep'].mean()
Oct = Snowfall['Oct'].mean()
Nov = Snowfall['Nov'].mean()
Dec = Snowfall['Dec'].mean()

In [16]:
Weather = pd.DataFrame({'Snowfall': [Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec]})
Weather

        Snowfall
0   33062.869373
1   32198.206103
2   32966.617077
3   35528.366069
4   36101.282979
5   30078.251064
6   28757.475980
7   28748.307559
8   32496.356439
9   35862.095017
10  35133.237066
11  33337.379675

In [17]:
Monthly_Temp = Temperature.groupby(' Month').mean()['tas']
Jan = Monthly_Temp.iloc[0]
Feb = Monthly_Temp.iloc[1]
Mar = Monthly_Temp.iloc[2]
Apr = Monthly_Temp.iloc[3]
May = Monthly_Temp.iloc[4]
Jun = Monthly_Temp.iloc[5]
Jul = Monthly_Temp.iloc[6]
Aug = Monthly_Temp.iloc[7]
Sep = Monthly_Temp.iloc[8]
Oct = Monthly_Temp.iloc[9]
Nov = Monthly_Temp.iloc[10]
Dec = Monthly_Temp.iloc[11]

In [18]:
Weather['Temperature'] = [Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec]
Weather

        Snowfall  Temperature
0   33062.869373    -6.266277
1   32198.206103    -4.228557
2   32966.617077     0.161376
3   35528.366069     5.987872
4   36101.282979    12.186650
5   30078.251064    17.210970
6   28757.475980    20.030330
7   28748.307559    18.935290
8   32496.356439    14.488357
9   35862.095017     7.789156
10  35133.237066     0.468967
11  33337.379675    -4.694447

In [19]:
Monthly_Rain = Rainfall.groupby(' Month').mean()['pr']
Monthly_Rain.iloc[0]
Jan = Monthly_Rain.iloc[0]
Feb = Monthly_Rain.iloc[1]
Mar = Monthly_Rain.iloc[2]
Apr = Monthly_Rain.iloc[3]
May = Monthly_Rain.iloc[4]
Jun = Monthly_Rain.iloc[5]
Jul = Monthly_Rain.iloc[6]
Aug = Monthly_Rain.iloc[7]
Sep = Monthly_Rain.iloc[8]
Oct = Monthly_Rain.iloc[9]
Nov = Monthly_Rain.iloc[10]
Dec = Monthly_Rain.iloc[11]

In [20]:
Weather['Rainfall'] = [Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec]
Weather

        Snowfall  Temperature   Rainfall
0   33062.869373    -6.266277  44.567710
1   32198.206103    -4.228557  41.915983
2   32966.617077     0.161376  51.627430
3   35528.366069     5.987872  49.433157
4   36101.282979    12.186650  60.396267
5   30078.251064    17.210970  64.473557
6   28757.475980    20.030330  65.537783
7   28748.307559    18.935290  65.038193
8   32496.356439    14.488357  61.432697
9   35862.095017     7.789156  49.504067
10  35133.237066     0.468967  50.642860
11  33337.379675    -4.694447  50.472827

In [21]:
Weather['Snowfall'] = Weather['Snowfall']/1000
Weather

     Snowfall  Temperature   Rainfall
0   33.062869    -6.266277  44.567710
1   32.198206    -4.228557  41.915983
2   32.966617     0.161376  51.627430
3   35.528366     5.987872  49.433157
4   36.101283    12.186650  60.396267
5   30.078251    17.210970  64.473557
6   28.757476    20.030330  65.537783
7   28.748308    18.935290  65.038193
8   32.496356    14.488357  61.432697
9   35.862095     7.789156  49.504067
10  35.133237     0.468967  50.642860
11  33.337380    -4.694447  50.472827

In [22]:
Weather.index = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
Weather

      Snowfall  Temperature   Rainfall
Jan  33.062869    -6.266277  44.567710
Feb  32.198206    -4.228557  41.915983
Mar  32.966617     0.161376  51.627430
Apr  35.528366     5.987872  49.433157
May  36.101283    12.186650  60.396267
Jun  30.078251    17.210970  64.473557
Jul  28.757476    20.030330  65.537783
Aug  28.748308    18.935290  65.038193
Sep  32.496356    14.488357  61.432697
Oct  35.862095     7.789156  49.504067
Nov  35.133237     0.468967  50.642860
Dec  33.337380    -4.694447  50.472827

In [28]:
fig = px.scatter(Weather, x= Weather.index.tolist(), y='Snowfall', color='Temperature', size='Rainfall', size_max=60, title= "Average Temperature, Snowfall and Rainfall in United States(1961-1990)")
fig.show()